<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      Wurker Status
      <span class="close">&times;</span>
    </div>
    <pre><code data-language="json">{{ infoJson }}</code></pre>
  </div>
</div>
