<div id="jsoneditor-modal" class="modal">
  <div class="modal-content">
    <div id="jsoneditor" style="width:500px; height:400px;"></div>
    <div class="modal-footer">
      <div class="float-right">
        <button class="cancel">Cancel</button>
        <button class="submit">Save</button>
      </div>
    </div>
  </div>
</div>
