<div id="info-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      Status Info
      <span class="close">&times;</span>
    </div>
    <div id="info-wrapper"></div>
    <!-- pre><code id="json-wrapper" data-language="json"></code></pre -->
  </div>
</div>
