<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Wurker {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="{{ url_for('static', filename='latofonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jsoneditor/dist/jsoneditor.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/rainbow-code/themes/css/rainbow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/vanillajs-datepicker/dist/css/datepicker.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">

  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/#" title="Jump to Home">
          <img src="{{ url_for('static', filename='logo.png') }}" />
          <span>würker</span><span style="font-size:0.5em;font-weight:100;position:relative;top:-3px;">&#8482;</span>
        </a>
      </div>
      <div id="env-label">
        <span class="{{ env }}">{{ env }}</span>
      </div>
      <nav>
        {% block nav %}{% endblock %}
      </nav>
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}

    {% block footer %}
    <footer>
      <p>Copyright © 2021-{{ thisYear }} by <a href="https://wurkzen.com">Wurkzen, Inc.</a> |
        <a href="https://gitlab.com/wurkzen/wurker/">Website</a> |
        <a href="https://gitlab.com/wurkzen/wurker/-/raw/main/LICENSE">License</a>
      </p>
    </footer>
    {% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
